.container-avatar {
    background-image: url('../../assets/img/avatar.png');
}

.l {
    width: 362px;
    height: 362px;
}

.m {
    width: 300px;
    height: 300px;
}

.s {
    width: 90px;
    height: 90px;
}