@import '../../variables.scss';

.container-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;

    margin: 0px 200px 0px 140px;

    .wrapper-list_item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .item-num {
            width: 55px;
            height: 55px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border-radius: 100%;

            background: $color_list_num;
        }

        span {
            max-width: 220px;
            line-height: 110%;
        }
    }

}