@import '../../variables.scss';

.container-about {
    width: 100%;
    padding: 70px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background: rgba(0, 51, 102, 0.5);


    .about-content {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .content-avatar {
            width: 300px;
            height: 300px;
    
            border-radius: 100%;
            background-image: url('../../assets/img/avatar.png');
            background-repeat: no-repeat;
            background-size: cover;

            transform: translateX(-65px);
        }
    }
    
}